Click==7.0
cryptography==2.6.1
Django==1.11.23
django-crispy-forms==1.7.2
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
dnspython==1.16.0
Flask==1.1.1
Flask-PyMongo==2.3.0
hiredis==1.0.0
Jinja2==2.10.1
mongoengine==0.18.2
psutil==5.6.3
pymongo==3.8.0
pyOpenSSL==19.0.0
python-dateutil==1.5
redis==3.2.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.5
xattr==0.6.4
kazoo==2.6.1
Werkzeug==0.15.6
